* {
    border-radius: 5px;
    transition-duration: 0.3s;
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 16.5px;
}

window {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(30, 30, 46, 0.5);
}

#workspaces button {
    margin: 0px;
    padding: 0px;
    color: rgba(128, 128, 128, 0.6);
    border-bottom: 3px solid transparent;
}

#workspaces button.visible {
    color: #A3BE8C;
    border-bottom: 3px solid #A3BE8C;
}

#workspaces button.urgent {
    color: #BF616A;
    border-bottom: 3px solid #BF616A;
}

#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#clock,
#mode,
#tray,
#idle_inhibitor,
#custom-notification {
    border-bottom: 3px solid #6098A6;
    padding: 0 5px;
    margin: 0 5px;
}

#idle_inhibitor {
    color: #F8BD96;
}

#custom-notification {
    color: #F5C2E7;
}

#battery {
    color: #A6E3A1;
}

#cpu {
    color: #D08770;
}

#memory {
    color: #EBCB8B;
}

#network {
    color: #88C0D0;
}

#pulseaudio {
    color: #81A1C1;
}

#clock {
    color: #EBCB8B;
    min-width: 140px;
}

#battery.warning {
    color: #EBCB8B;
}

#battery.critical {
    color: #BF616A;
}

#battery.charging {
    color: #A3BE8C;
}

#mode {
    color: #BF616A;
    border-bottom: 3px solid #BF616A;
}

