@define-color foreground #eeeeee;
@define-color foreground-inactive #1e1e1e;
@define-color background rgba(0, 0, 0, 0.6);

* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-left: 0.7em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#memory,
#cpu {
    padding-left: 1em
}

#wireplumber,
#battery,
#language,
#network,
#custom-notification,
#tray {
    padding-right: 1em 
}
