@define-color foreground #eeeeee;
@define-color foreground-inactive #5e5e5e;
@define-color background rgba(0, 0, 0, 0.6);

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: @foreground;
  background-color: @background;
}

#workspaces button {
  color: @foreground-inactive;
  padding: 0 0.5em;
  background: transparent;
  border: none;
}

#workspaces button.active {
  color: @foreground;
  font-weight: bold;
}

#memory,
#cpu {
  padding-left: 1em
}

#wireplumber,
#battery,
#language,
#network,
#custom-notification,
#tray {
  padding-right: 1em 
}
